<div class="Container">
    <div class="Content">
        <div class="lines">
            <span style="--num:1;"></span>
            <span style="--num:2;"></span>
            <span style="--num:3;"></span>
            <span style="--num:4;"></span>
            <span style="--num:5;"></span>
            <span style="--num:6;"></span>
            <span style="--num:7;"></span>
            <span style="--num:8;"></span>
        </div>
        <div class="circles">
            <span style="--num:1;"></span>
            <span style="--num:2;"></span>
            <span style="--num:3;"></span>
            <span style="--num:4;"></span>
        </div>
        <div class="radar">

        </div>
    </div>
</div>
