<div class="polyEffect" style="--gp: 10px;">
    <div class="Line" style="--ln:0;--qtd:4;--pos:1">
        <div class="Item ItemDown"><img src="/assets/imgs/cityImage.jpeg"></div>
        <div class="Item ItemDown"><img src="/assets/imgs/datacenterhd2.jpg"></div>
        <div class="Item ItemDown"><img src="/assets/imgs/program.jpg"></div>
        <div class="Item ItemDown"></div>
    </div>
    <div class="Line LineInset2" style="--ln:0;--qtd:4;--pos:2">
        <div class="Item ItemUp"><img src="/assets/imgs/bk_bluepolygondark.jpg"></div>
        <div class="Item ItemUp"><img src="/assets/imgs/program.jpg"></div>
        <div class="Item ItemUp"><img src="/assets/imgs/shark.jpg"></div>
    </div>

    <div class="Line LineInset2" style="--ln:1;--qtd:4;--pos:1">
        <div class="Item ItemDown"><img src="/assets/imgs/cityImage.jpeg"></div>
        <div class="Item ItemDown"><img src="/assets/imgs/program.jpg"></div>
        <div class="Item ItemDown"><img src="/assets/imgs/city.jpg"></div>
    </div>
    <div class="Line" style="--ln:1;--qtd:4;--pos:2">
        <div class="Item"></div>
        <div class="Item ItemUp"><img src="/assets/imgs/shark.jpg"></div>
        <div class="Item ItemUp"><img src="/assets/imgs/bk_bluepolygondark.jpg"></div>
        <div class="Item ItemUp"><img src="/assets/imgs/datacenterhd2.jpg"></div>
    </div>
    <div class="Line" style="--ln:2;--qtd:4;--pos:1">
        <div class="Item"></div>
        <div class="Item ItemDown"><img src="/assets/imgs/city.jpg"></div>
        <div class="Item ItemDown"></div>
        <div class="Item ItemDown"></div>
    </div>
    <div class="Line LineInset2" style="--ln:2;--qtd:4;--pos:2">
        <div class="Item"></div>
        <div class="Item ItemUp"><img src="/assets/imgs/datacenterhd2.jpg"></div>
        <div class="Item ItemUp"></div>
    </div>
    <div class="Line LineInset2" style="--ln:3;--qtd:4;--pos:1">
        <div class="Item"></div>
        <div class="Item ItemDown"><img src="/assets/imgs/cityImage.jpeg"></div>
        <div class="Item ItemDown"></div>
    </div>

</div>
