<div class="bigContent">
    <div class="ckC">
        <app-poly-g></app-poly-g>
    </div>
    <div class="introContent">
        <div class="imgBox">
            <img src="/assets/imgs/program.jpg">
        </div>
        <p class="ContentTitle">
            Make Your Vision
        </p>
        <p class="txt">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora 
            quo voluptatibus eius dicta distinctio quia mollitia, soluta 
            corporis cupiditate placeat 
            dolores sit aliquam fuga blanditiis temporibus odio? Enim, ipsa quam!
        </p>
    </div>

</div>
<br>
<br>
<app-card1></app-card1>
<br>
<div class="ContetInfo">
    <div class="dvLeftCI">
        <div class="txtInfo">
            <h3 class="titleC">Title-1</h3>
            <div class="txtContent">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui, 
                    excepturi ab dicta rem quisquam, asperiores ipsa quae 
                    perspiciatis, tenetur fugiat pariatur porro a debitis. 
                    Minus modi consequuntur ad odio asperiores!
                    Lorem ipsum dolor</p>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure aliquid 
                    accusantium veniam sapiente ipsa quo ipsum consequuntur modi 
                    neque cupiditate at sunt, libero rem aperiam? Nostrum cum facere enim 
                    ipsum. Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos atque 
                    nam repellendus, fugiat quaerat
                <p>
            </div>
        </div>
        <div class="imgInfo">
            <app-radar></app-radar>
        </div>
    </div>
    <div class="dvRightCI">
        <div class="dvTopImg"></div>
        <div class="dvBTImg">
            <app-slider-mk02></app-slider-mk02>
        </div>
    </div>
</div>
<br>
<div class="ContetInfo sz bkC">
    <div class="dvLeftCI">
        <div class="ckC">
            <app-poly-g></app-poly-g>
        </div>
    </div>
    <div class="dvRightCI">
        <div class="txtInfo">
            <h3 class="titleC">Title-1</h3>
            <div class="txtContent">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui, 
                    excepturi ab dicta rem quisquam, asperiores ipsa quae 
                    perspiciatis, tenetur fugiat pariatur porro a debitis. 
                    Minus modi consequuntur ad odio asperiores!
                    Lorem ipsum dolor</p>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure aliquid 
                    accusantium veniam sapiente ipsa quo ipsum consequuntur modi 
                    neque cupiditate at sunt, libero rem aperiam? Nostrum cum facere enim 
                    ipsum. Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos atque 
                    nam repellendus, fugiat quaerat
                <p>
            </div>
        </div>
    </div>
</div>
<br>
<app-slider-mk01></app-slider-mk01>
<br>
<div class="ContetInfo sz">
<app-simp-card imgI="/assets/imgs/What-Is-Environment-1.jpg" 
    iconI="/assets/icons/check-mark_15761039.png"
    titleI="text-1" descI="Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur, 
    cumque dolorem temporibus qui inventore eveniet modi 
    laudantium ratione"></app-simp-card>
    <app-simp-card imgI="/assets/imgs/city.jpg" iconI="/assets/icons/configuration.png"
    titleI="text-2" descI="Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur, 
    cumque dolorem temporibus qui inventore eveniet modi 
    laudantium ratione"></app-simp-card>
    <app-simp-card imgI="/assets/imgs/poluicao.jpg" iconI="/assets/icons/bell.png"
    titleI="text-3" descI="Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur, 
    cumque dolorem temporibus qui inventore eveniet modi 
    laudantium ratione"></app-simp-card>
</div>