@font-face {
    font-family: ironS;
    src: url('/assets/fonts/Iron\ Shark.otf');
}
.bigContent{
    width: 100%;
    height: 40%;
    background-image: linear-gradient(to top,cyan,purple);
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}
.ckC{
    width: 300px;
    height: 100%;
    position: relative;
}

.introContent{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
}
.ContentTitle{
    text-transform: uppercase;
    font-weight: bolder;
    color: white;
    font-size: 25px;
    text-align: right;
    text-align: justify;
}
.imgBox{
    height: 70%;
    aspect-ratio: 1/1;

    -webkit-mask-image: url('/assets/icons/check-mark_15761039.png');
    mask-image: url('/assets/icons/check-mark_15761039.png');
    mask-position: center;
    mask-repeat: no-repeat;
    mask-size: cover;
    mask-origin: content-box;
}
.imgBox > img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}
.txt{
    display: flex;
    align-items: center;
    justify-content: center;
    border-left: 2px solid white;
    padding-left: 10px;
    color: white;
    height: 80%;
}
.ContetInfo{
    display: flex;
    align-items: center;
    justify-content: center;
    width:100%;
    height: 450px;
    gap: 10px;
    padding: 10px;
}
.ContetInfo > .dvLeftCI,.ContetInfo > .dvRightCI,.dvRightCI,.dvBTImg,.dvTopImg{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}
.dvRightCI{
    flex-direction: column;
    gap: 10px;
}
.dvLeftCI{
    flex-direction: column;
    gap: 5px;
}
.txtInfo > h3{
    border-right: 2px solid black;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 5px;
    white-space: nowrap;
}
.txtInfo,.txtContent{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.txtContent{
    flex-direction: column;
}
.txtContent > p:nth-child(1){
    text-align: justify;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    word-break: normal;
}
.txtContent > p:nth-child(2){
    column-count: 2;
    column-gap: 25px;
    column-rule: 2px solid black;
    column-fill: balance;
    text-align: justify;
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
    word-break: normal;
}
.dvLeftCI > *{
    height: 100%;
    width: 100%;
}
.dvTopImg{

    border-radius: 15px;
    background-image: url("/assets/imgs/istockphoto-1022644502-612x612.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.dvBTImg > *{
    width: 100%;
    height: 100%;
}

.titleC{
    text-transform: uppercase;
    font-size: 30px;
    font-family: ironS;
    color: orange;
}
app-radar{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}
app-logo-comp{
    width: 30%;
    aspect-ratio: 1/1;
    display: flex;
}
app-simp-card{
    height: 100%;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sz{
    height: 300px !important;
}

.bkC{
    background-image: linear-gradient(to top,cyan,purple);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white !important;
    border-radius: 20px;
}