<div class="Container">
    <div class="sliLayer1">
        <button class="btn btnL" (click)="stepF('l')" [disabled]="isDis"><</button>
        <button class="btn btnR" (click)="stepF('r')" [disabled]="isDis">></button>
        <div class="ballList">

        </div>
        <div class="sliLayer2">
            <div class="item">
                <img src="/assets/imgs/shark.jpg">
                <div class="content">
                    <h3>title-1</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                </div>
                <p class="vl">0</p>
            </div>

            <div class="item">
                <img src="/assets/imgs/program.jpg">
                <div class="content">
                    <h3>title-2</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                </div>
                <p class="vl">1</p>
            </div>

            <div class="item">
                <img src="/assets/imgs/city.jpg">
                <div class="content">
                    <h3>title-3</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                </div>
                <p class="vl">2</p>
            </div>
            <div class="item">
                <img src="/assets/imgs/shark.jpg">
                <div class="content">
                    <h3>title-4</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                </div>
                <p class="vl">3</p>
            </div>
            <div class="item">
                <img src="/assets/imgs/cityImage.jpeg">
                <div class="content">
                    <h3>title-5</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                </div>
                <p class="vl">4</p>
            </div>
        </div>
    </div>
</div>
