<div class="Container">
    <div class="spin" style="--qtd:20">
        <span style="--ls:1"></span>
        <span style="--ls:2"></span>
        <span style="--ls:3"></span>
        <span style="--ls:4"></span>
        <span style="--ls:5"></span>
        <span style="--ls:6"></span>
        <span style="--ls:7"></span>
        <span style="--ls:8"></span>
        <span style="--ls:9"></span>
        <span style="--ls:10"></span>
        <span style="--ls:11"></span>
        <span style="--ls:12"></span>
        <span style="--ls:13"></span>
        <span style="--ls:14"></span>
        <span style="--ls:15"></span>
        <span style="--ls:16"></span>
        <span style="--ls:17"></span>
        <span style="--ls:18"></span>
        <span style="--ls:19"></span>
        <span style="--ls:20"></span>
        <div class="spot"></div>
    </div>
</div>
