
<div class="Container">
    <div class="MainSlideC">
    <div class="SlideC">
        <div class="Sl">
            <div class="cardCont"><img src="/assets/imgs/city.jpg">
                <div class="ContentTxt">
                    <h4>title card</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                </div>
                <span>0</span></div>
            <div class="cardCont"><img src="/assets/imgs/program.jpg">
                <div class="ContentTxt">
                    <h4>title card</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                </div>
                <span>1</span></div>
            <div class="cardCont"><img src="/assets/imgs/shark.jpg"><div class="ContentTxt">
                <h4>title card</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            </div>
            <span>2</span></div>
            <div class="cardCont"><img src="/assets/imgs/cityImage.jpeg"><div class="ContentTxt">
                <h4>title card</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            </div>
            <span>3</span></div>
            <div class="cardCont"><img src="/assets/imgs/datacenterhd2.jpg"><div class="ContentTxt">
                <h4>title card</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            </div>
            <span>4</span></div>
            <div class="cardCont"><img src="/assets/imgs/What-Is-Environment-1.jpg"><div class="ContentTxt">
                <h4>title card</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            </div>
            <span>5</span></div>
            <div class="cardCont"><img src="/assets/imgs/poluicao.jpg"><div class="ContentTxt">
                <h4>title card</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            </div>
            <span>6</span></div>
        </div>
        <button class="btn btl" (click)="funL('r',1,1200)" [disabled]="isDis"><</button>
        <button class="btn btr" (click)="funL('l',1,1200)" [disabled]="isDis">></button>
    </div>
    <div class="BList"></div>
    </div>
</div>
